.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* =========== HEADER ========== */

.logo {
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.studio-black {
    color: #000000;
}

.menu-link {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color: #2196F3;
}

.contact-header {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.contact-header:hover,
.contact-header:focus {
    color: #2196F3;
}

/* ========== 1. ЗАГОЛОВОК ========== */

.name-header {
    background: #2F303A;
}

.page-title {
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.modal-btn {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;
}

.modal-btn:hover,
.modal-btn:focus {
    background: #FFFFFF;
    color: #2196F3;
}

/* ========== 2. НАШИ ПРЕИМУЩУСТВА =========== */

.main-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.content {
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71%;
letter-spacing: 0.03em;
color: #757575;
}

/* ========== 3. ЧЕМ МЫ ЗАНИМАЕМСЯ ========== */

.top-title {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: #212121;
}

/* ========== 4. НАША КОМАНДА ==========*/

.employee-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.specialty {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ========== FOOTER ========== */

.page-footer {
    background: #2F303A;
}

.studio-white {
    color: #FFFFFF;
}

.footer-address {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

